$main-font: 'Roboto', sans-serif;
$second-font: 'Raleway', sans-serif;
$main-color: #4D5AE5;
$icon-color: #afb1b8;
$main-colorFont: #2E2F42;
$second-colorFont: #434455;
$third-colorFont: #ffffff;
$main-bgc: #e5e5e5;
$dark-bgc: #2f303a;
$grey-bgc: #f5f4fa;
$light-bgc: #ffffff;
$light2-bgc: #eeeeee;